<!DOCTYPE html>
<html>
<head>
  <title>ProfileApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav">
	<%= link_to "Home", root_url %>
	<% if @current_user %>
	<%= link_to "Profile", profile_url(@current_user.id) %>
	<%= link_to "Sign Out", signout_url %>
	<% else %>
	<%= link_to "Sign In", signin_url %>
	<% end %>
	</div>
	
	<div class="notice">
	<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
	<% end %>
	</div>

<%= yield %>

</body>
</html>
