<h1>Ticket Details</h1>
<p>Name: <%= @ticket.name %> </p>
<p>Address: <%= @ticket.address %> </p>
<p>City: <%= @ticket.city %> </p>
<p>State: <%= @ticket.state %> </p>
<p>Zip: <%= @ticket.zip %> </p>
<p>Price: <%= @ticket.price %> </p>
<p>Genre: <%= @ticket.genre %> </p>