<h1>Sign Up!</h1>
<div class="notice">
<% if @user.errors.present? %>
<p>Please enter correct info</p>
	<% @user.errors.full_messages.each do |msg| %>
	<ul>
	<li><%= msg %></li>
	</ul>
<% end %>
<% end %>
</div>

<%= form_for @user do |f| %>

<%= f.label :first, "First Name" %>
<%= f.text_field :first %>

<%= f.label :last, "Last Name" %>
<%= f.text_field :last %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password, "Password" %>
<%= f.text_field :password %>

<%= f.label :password_confirmation, "Password Confirmation" %>
<%= f.text_field :password_confirmation %>

<%= f.submit "Sign Up" %>
	<% end %>
	
<p><a href="/">Cancel</a></p>